# ============================================================================
# Emacs Compiled / Native
# ============================================================================
*.elc
*.eln
/tree-sitter/

# ============================================================================
# Emacs State
# ============================================================================
/opt/
/tmp/
/var/

# ============================================================================
# Eshell States
# ============================================================================
/usr/eshell/

# ============================================================================
# Extensions / Frameworks
# ============================================================================
/eaf/
/all-the-fonts/

# ============================================================================
# System / OS
# ============================================================================
.DS_Store
Thumbs.db
